.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: rgb(155, 30, 38);
  position: relative;
  top: 50px;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 50px
}

.form input {
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(37, 36, 59, 0.05) 0px 4px 8px 0px;
  border: 1px solid rgb(155, 30, 38);
  outline: none;
  caret-color:rgb(155, 30, 38);
  
}

.form ::placeholder{
  color: rgb(155, 30, 38);
  position: relative;
  left: 10px;
  box-shadow: rgba 0px 4px 8px 0px;
}

.form :last-child{
  width: 30%;
  color: #fff;
  border: none;
  background-color: rgb(155, 30, 38);
  cursor: pointer;
}